registry=https://registry.npmjs.org/
cache=/vercel/.npm
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retry-factor=2
# Disable TypeScript strict checking
script-shell=/bin/bash
ignore-scripts=false